#blog-list {
  /*background-color: blue;*/
  margin: 3% 3% 3% 3%;
  display: inline-block;
  width: 50%;
  font-family: 'Lato', sans-serif;
}

.post {
  /*background-color: green;*/
  display: block;
}

.post-title {
  font-size: 2em;
  color: black;
}

.date, .tag {
  font-size: 1em;
  color: #7f7f7f;
}

.read-more {
  float: right;
  font-size: .75em;
  color: #7f7f7f;
}

.twitter-timeline {
  float: right;
  margin: 3% 3% 0% 0%;

}